@page
@using Microsoft.AspNetCore.Html;
@using RecMe.Pages.Shared;
@model RecMe.Pages.Things.IndexModel

@section SearchHead{
    <link rel="stylesheet" href="~/css/SearchPartial/SearchContainerStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SearchPartial/SelectButtonStyle.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/SearchPartial/ToggleChildrenButtonStyle.css" asp-append-version="true" />}

@{
    ViewData["Title"] = "Index";
}

<h1>Search for Things!</h1>

<partial name="_SearchPartial" model="Model.Tag" />
@section SearchScript{<script>
        function ToggleButtonVisibility(taggroupname) {
            $(taggroupname).toggle();
        }
    </script>}

<table class="table">
    <thead>
        <tr>
            <th>Upvotes</th>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Thing) {
                <tr>
                    <td style="display: inline-flex;">
                    <p style="margin-right: 5px;">@(await Model.GetTotalUpvotes(item.Id))</p>

                            <!-- Display the upvote button -->
                            @if (User.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <form method="post" asp-page-handler="Upvote" asp-route-CurrentPage="@Model.CurrentPage">
                                    <input type="hidden" name="thingId" value="@item.Id" />
                                    <button type="submit">Up</button>
                                </form>
                            }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
        }
    </tbody>
    
</table>



<ul class="pagination" style="margin-top: 10px;">

    @if (Model.CurrentPage > 1)
    {
        <li class="page-item"><a class="page-link" asp-page="Index" asp-route-CurrentPage="1">First</a></li>
        <li class="page-item"><a class="page-link"  asp-page="Index" asp-route-CurrentPage="@(Model.CurrentPage - 1)">Previous</a></li>
    }

    @for (int i = 1; i <= Math.Ceiling((double)Model.TotalItems / Model.PageSize); i++)
    {
        <li class="page-item"><a class="page-link" asp-page="Index" asp-route-CurrentPage="@i">@i</a></li>
    }

    @if (Model.CurrentPage < Math.Ceiling((double)Model.TotalItems / Model.PageSize))
    {
        <li class="page-item"><a class="page-link" asp-page="Index" asp-route-CurrentPage="@(Model.CurrentPage + 1)">Next</a></li>
        <li class="page-item"><a class="page-link" asp-page="Index" asp-route-CurrentPage="@Math.Ceiling((double)Model.TotalItems / Model.PageSize)">Last</a></li>
    }
</ul>
