@page
@using Microsoft.AspNetCore.Html;
@model RecMe.Pages.Things.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search for Things!</h1>

@{
    IHtmlContent CreateButtons(Models.Tag rootTag)
    {
        List<Models.Tag> children = new List<Models.Tag>();
        string returnstring = CreateComponent(rootTag);

        foreach (var tag in Model.Tag)
        {
            if(tag.ParentId == rootTag.Id)
            {
                children.Add(tag);
            }
        }

        if(children.Count > 0)
        {
            foreach (var child in children)
            {
                returnstring += CreateButtons(child);
            }
        }

        return Html.Raw($@"
        <div> {returnstring} </div>");
    }

    string CreateComponent(Models.Tag tag) //why does """ xyz """ rawstring not work ahhhhhhh
    {
        return $@" {tag.Name} <input name='ChosenTags' type='checkbox' value='{tag.Name}'/> <br />";
    } 
}

<form method="post">
    @foreach (var tag in Model.Tag)
    {
        if(tag.ParentId == null)
        {
            @CreateButtons(tag)
        }
        
    }
    <input type="submit" value="Start Searching" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Thing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
