@page
@using Microsoft.AspNetCore.Html;
@model RecMe.Pages.Things.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Search for Things!</h1>

@{
    IHtmlContent CreateComponents(Models.Tag rootTag)
    {
        List<Models.Tag> childrenOfRoot = new List<Models.Tag>();
        string idattribute = "taggroup" + rootTag.Id.ToString();
        string rootelement = CreateComponent(rootTag);
        string children = "";

        foreach (var tag in Model.Tag) // might want to make a copy of model.tag and make it smaller in the next foreach loop so that it doesnt iterate through the whole thing over and over.
        {
            if(tag.ParentId == rootTag.Id)
            {
                childrenOfRoot.Add(tag);
            }
        }
        string toggleButton = "";

        if (childrenOfRoot.Count > 0)
        {
            toggleButton = @$"<input type='button' onclick='ToggleButtonVisibility({idattribute})' value='Toggle {rootTag.Name}'>";
            foreach (var child in childrenOfRoot)
            {
                children += CreateComponents(child);
            }
        }

        return Html.Raw($@"
        <div> {rootelement} {toggleButton}
            <div id='{idattribute}' class='taggroup' style='display: none;'> {children} </div> </div> ");
    }

    string CreateComponent(Models.Tag tag) //why does """ xyz """ rawstring not work ahhhhhhh
    {
        return $@" {tag.Name} <input name='ChosenTags' type='checkbox' value='{tag.Name}'/>";
    } 
}
@section Scripts
{
    <script>
        function ToggleButtonVisibility(taggroupname) {
            $(taggroupname).toggle();
        }
    </script>
}

<form method="post">
    @foreach (var tag in Model.Tag)
    {
        if(tag.ParentId == null)
        {
            @CreateComponents(tag)
        }
        
    }
    <input type="submit" value="Start Searching" />
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Thing[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Thing) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
