@page
@model RecMe.Pages.ThingsHaveTags.ListModel

@{
    ViewData["Title"] = "List";
}

<h1>List</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ThingHasTag[0].ThingId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ThingHasTag[0].TagId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ThingHasTag) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ThingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TagId)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
